.productTitle {
  display: block;
  align-items: center;
  justify-content: center;
}

.productImg {
  height: 100%;
  width: auto;
}

.aboutItem {
  display: flex;
  justify-content: center;
  align-items: start;
  column-gap: 5rem;
  height: 30rem;
}

.productData {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
