.announcement {
  background-color: #ff84b7;
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  padding: 0.3rem;
  margin: auto;
}

.product-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.product-header svg {
  /* border: solid red 1px; */
  height: 2rem;
  width: 2rem;
  align-self: center;
  stroke: #fcc89b;
  stroke-width: 0.2rem;
  fill-opacity: 0%;
  fill: #ff5fa2;
  transition: 0.5s;
}

.product-header svg:hover, #in-fav {
  fill: #ff5fa2;
  fill-opacity: 100%;
  stroke: #ff5fa2;
}

/* .product-title {
  border: solid red 1px;
} */

.productImg {
  height: 100%;
  width: auto;
}

.aboutItem {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: start;
  column-gap: 5rem;
  height: 30rem;
}

.productData {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: start;
  /* border: red solid 1px; */
}

.product-rating {
  display: flex;
}

.rating-number {
  align-self: start;
}

.star {
  fill: #fcc89b;
  align-self: center;
}

.product-body {
  /* border: solid 1px red; */
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}

/* .product-body + div{

} */

.product-description {
  /* border: solid 1px red; */
  width: 80%;
}

.product-button {
  /* border: red 1px solid; */
  justify-self: end;
  height: 3rem;
  width: 8rem;
}
