.announcement {
  background-color: #ff84b7;
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  padding: 0.3rem;
  margin: auto;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: #ff5fa2;
}

nav h3 {
  padding-left: 3rem;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  padding: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #ff5fa2;
  font-weight: 500;
  padding: 1rem;
}

nav ul li a:hover {
  background-color: #fcc89b;
  border-radius: 2rem;
}

.active {
  background-color: #fcc89b;
  border-radius: 2rem;
}

.icons {
  display: flex;
  width: 6rem;
  justify-content: space-between;
  align-items: center;
  padding-right: 3rem;
}

.icon {
  fill: #ff5fa2;
}
