* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

.gold-button {
  background-color: #fcc89b;
  border: none;
  width: fit-content;
  border-radius: 1rem;
  color: #ff5fa2;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  padding: 0.5rem;
  text-decoration: none;
  transition: 0.5s;
}

.gold-button:hover {
  background-color: #ff5fa2;
  border: solid;
  border-color: #fcc89b;
  color: #fcc89b;
}

.shop-now {
  margin-top: 1rem;
}
